{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "quotes": ["error", "single"],
  },
}
